body {
  background-color: white;
}
h2 {
  color : gold;
}
p {
  color: black;
}

.container{
	background-color: grey;
    width: 1000px;
    margin: auto;
    padding: 20px;
    min-height: 800px;
}
.title{
	float: left;
	font-size: 30px;
	color: salmon;
}
.clear{
	clear: both;
}
.menu-item{
 	color: black;
 	margin: 20px;
}
.menu{
float: right;
}
a.menu-item:hover{
	color: green;
}
.content{
	font-size: 20px;
	width: 600px;
	float: left;
}
.subs{
	float: right;
	padding-top: 90px;
	font-size: 20px;
}
.footer{
	float: right;
	padding-top: 30px;
}